#countries-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 90px;
    padding: 20px;
    width: 101vw;
  }
  
  .country-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 20vw;
  }
  
  .country-flag {
    width: 10vw;
    height: auto;
    margin-bottom: 10px;

  }
  
  .country-name {
    font-weight: bold;
  }
  